@import url('htttp://fonts.googleapis.com/css/family=Quicksand:400,500&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Playpen+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');


body{
    background-color: azure;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

/* EXTRA */

.dell:hover{
    color: red;
}
a{
    text-decoration: none;
}
.dellete{
    color: black;
}
.dellete:hover{
    color: red;
}
/* NAVBAR */
.navbar{
    font-size: 18px;
    padding-bottom: 30px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(94, 255, 201);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(72, 71, 71);
}

li a:hover{
    color: black;
}

/* KRS */
.krs_all{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border: 1px solid black;
    border-radius: 20px;
}
/* ------------------------ */

.krs_head{
    /* border: 1px solid red; */
    width: 70%;
    padding-bottom: 2%;
}

.krs_profil{
    width: 100%;
}


.krs_heading{
    text-align: center;
}
/* ------------------------ */

td,th{
    border-bottom: 2px dashed gray;
    text-align: left;
}


/* ========================= */
/* KRS BODY */

.krs_body{
    /* padding-left: 5%; */
    /* border: 1px solid red; */
    margin-left: 15%;
    margin-right: 15%;
}
.select_nama_mk{
    height: 30px;
    width: 78%;
    font-size: 15px;
}
.krs_table{
    border: none;
    width: 100%;
}
.select_kelas{
    width: 21%;
    font-size: 15px;
    height: 30px;
}
.button_save{
    border: none;
    width: 100%;
    font-size: 20px;
    background-color: dimgray;
    color: rgb(186, 179, 179);
}
.button_save:hover{
    background-color: greenyellow;
    color: black;
}


.tablenya{
    margin-top: 10px;
    /* border: 1px solid red; */
    margin-left: 15%;
    margin-right: 15%;
}

table{
    width: 90%;
	margin: 10px 0px;
	border-collapse: collapse;
}

tr:hover{
    background-color: rgb(0, 217, 255);
    color: black;
}





/* LOGIN */
.header_login{
    color: black;
    text-align: center;
}
.container_login_luar{
    background-color: rgba(124, 255, 255, 0.375);
    border-radius: 20px;
    border: 3px solid black;
    margin: 5%;
    margin-left: 30%;
    margin-right: 30%;
}
.container_login_dalam{
    padding-left: 8%;
}
.login_button{
    width: 91.8%;
    height: 30px;
    background-color: lightgray;
    border: none;
}
.login_button:hover{
    background-color: yellowgreen;
}

input{
    width: 90%;
    height: 30px;
}

